@font-face {
  font-family: 'Zagora-mLEPG';
  src: url('/fonts/Zagora-mLEPG.woff') format('woff');
}

@font-face {
  font-family: 'VigranMaroll';
  src: url('/fonts/VigranMaroll-2OzWK.otf') format('opentype');
}

html {
  background-image: url('/background-astro.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

:root {
  /* Colors */
  --primary-color: #e5a768;
  --secondary-color: #E2C799;
  /* Fonts */
  --font-title: 'VigranMaroll', sans-serif;
  --font-text: 'Zagora-mLEPG', sans-serif;
  /* Sizes */
  --font-size-very-large: 6em;
  --font-size-large: 4em;
  --font-size-medium: 2.5em;
  --font-size-small: 1.5rem;
  --font-size-xsmall: 1.3em;
  --font-size-xxsmall: 0.8em;
}