@font-face {
  font-family: 'Talktoth';
  src: url('/fonts/talktoth.ttf') format('woff');
}

@font-face {
  font-family: 'Cmonnear';
  src: url('/fonts/cmonnear.ttf') format('truetype');
}

html {
  background-image: url('/backgrounds/mainback.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: auto;
  height: 100%;
}

:root {
  /* Colors */
  --primary-color: #c96f6f;
  --secondary-color: #e1c5b0;
  /* Fonts */
  --font-title: 'Cmonnear', sans-serif;
  --font-text: 'Talktoth', sans-serif;
  /* Sizes */
  --font-size-very-large: 4.5em;
  --font-size-large: 3.2em;
  --font-size-medium: 2.5em;
  --font-size-small: 1.5rem;
  --font-size-xsmall: 1.3em;
  --font-size-xxsmall: 0.8em;
}