html {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


h1 {
  font-family: var(--font-title);
  color: var(--primary-color);
  text-align: center;
  font-size: var(--font-size-large);
}

h2 {
  font-family: var(--font-title);
  color: var(--primary-color);
  text-align: center;
  font-size: var(--font-size-small);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

p {
  font-family: var(--font-text);
  color: var(--secondary-color);
  text-align: center;
  font-size: var(--font-size-small);
}

.name {
  font-family: var(--font-text);
  font-size: var(--font-size-xsmall);
  color: var(--secondary-color);
  background-color: transparent;
  border: 2px solid var(--secondary-color);
  border-radius: 5px;
  padding: 0.4rem;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.shame {
  animation: fadeIn 10s;
  font-size: var(--font-size-xxsmall);
}

.start {
  font-family: var(--font-text);
  font-size: var(--font-size-xsmall);
  color: var(--secondary-color);
  background-color: transparent;
  border: 2px solid var(--secondary-color);
  border-radius: 15px;
  padding: 0.4rem;
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 1rem;
  cursor: pointer;
}

.greetings-form {
  font-family: var(--font-text);
  font-size: var(--font-size-xsmall);
  color: var(--secondary-color);
  padding: 0.4rem;
  text-align: center;
}

.charming-guy {
  max-width: 10%;
}